* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; 
}

body {
  min-height: 100vh;
  background-image: url("../images/eggsbg.jpeg");
  background-size: cover;
  
  
}

.menu-container {
  display: flex;
  justify-content: space-evenly;  
  align-items: center;
  margin-top: 10px;
  
}

.img-container {
 width: 100px;


}

.icon-img {
  width: 100px;
  margin: 10px;
 
}

.tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
  } 
